.cabecalho {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    position: absolute;
    padding-top: .75rem;
    padding-bottom: .75rem;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--borda-cabecalho-mobile);
    color: var(--branco);
}

.cabecalho__logo {
    margin-bottom: 1rem;
}

.cabecalho__navegacao {
    text-align: center;
}

.cabecalho__link {
    display: inline-block;
    margin-right: .7rem;
    margin-bottom: 1.25rem;
    margin-left: .7rem;
    font-size: 1.1rem;
}
